<h2>ALL THE PIZZAS!</h2>

<% @orders.each do |order| %>
<p><%= order.pretty_name() %></p>
<p>Order: <%= order.topping()%> x <%= order.quantity()%></p>
<a href="/pizza-orders/<%=order.id%>">Show More</a>
<% end %>
